html,
body {
  background-color: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  color: rgba(255, 255, 255, 1);

  * {
    box-sizing: border-box;
  }
}

html {
  height: 100%;
}
body {
  min-height: 100%;
}

.app {
  min-height: 100%;

  .headerWrap {
    background-image: linear-gradient(#000000, #000000), linear-gradient(#ffffff, #ffffff);
    background-size: 100% calc(100% - 1px), 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .floatRight {
      position: absolute;
      right: 20px;
      top: 20px;
      justify-items: right;
      display: flex;
      flex-direction: row;
      gap: 20px;
      align-items: center;

      .langSwitcher {
        // position: absolute;
        display: flex;
        flex-direction: row;
        gap: 10px;
        left: 50%;
        top: 10px;
      }

      .helpWrap {
        .helpBtn {
          cursor: pointer;
          display: flex;
          justify-self: right;
          border: 2px solid white;
          font-size: 25px;
          width: 30px;
          height: 30px;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
        }

        .helpText {
          display: none;
          position: absolute;
          top: 40px;
          right: 0px;
          z-index: 3;
          padding: 30px;
          border: 1px solid white;
          background: #000;
          width: 400px;
          overflow-y: auto;

          &.show {
            display: block;
          }

          .closeHelp {
            cursor: pointer;
            position: absolute;
            top: 10px;
            right: 10px;
          }
        }
      }
    }

    .tabs {
      display: flex;
      flex-direction: row;
      gap: 20px;

      .tab {
        background-color: black;
        &:hover {
          background-color: #686868;
        }

        cursor: pointer;
        padding: 10px 20px;
        border: 1px white solid;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        &.active {
          border-bottom: none;
        }
      }
    }
  }

  .footerWrap {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    border-top: 1px solid #ffffff;
    padding: 20px 0;
  }

  .interactive {
    width: 100%;
    padding: 20px;
    .dataBreak {
      margin: 40px auto 10px auto;
      max-width: min-content;

      + .dataTable {
        border-top: 1px solid white;
        border-radius: 7px;
      }
    }

    .dataTable {
      margin: 0 auto;

      .editBtn {
        color: yellow;
        cursor: pointer;
      }
      .deleteBtn {
        color: red;
        cursor: pointer;
      }
      .addBtn {
        color: green;
        cursor: pointer;
      }

      thead {
        th {
          padding: 5px 10px;
          min-width: 35px;
        }
      }

      tbody {
        td {
          padding: 5px 10px;
          border-right: 1px solid wheat;
          border-bottom: 1px solid wheat;
          border-radius: 7px;
          min-width: 35px;

          &:global {
            &.openEditor {
              border-bottom-color: yellow;
              border-right-color: yellow;
            }
          }
        }
      }
    }
  }
}
